@media screen and (max-width: 1024px) {
    .kit {
        img {
            width: 50% !important;
        }
    }
    .main {
        .container {
            .cont {
                height:400px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        .container {
            .cont {
                margin: 40px 50px;
            }
        }
    }
    .main {
        .container {
            margin: 0px 50px;
            
            .cont {
                height: auto;
                display: flex;
                align-content: center;
                flex-direction: column;
                text-align: center;
                
                

                .sub-cont {
                    width: 90%;
                    padding-top: 100px;
                    .btns {
                        .moveleft {
                            &:hover {
                                padding-left:0;
                                border-bottom: 2px solid $blueHover;
                            }
                        }
                    }
                }


                //************
                // Aquí estába el bug de la imagen
                .kit {
                    position: relative !important;
                    width:100%;
                    height: 400px;
                    top: 20px !important;
                    left: 20px !important;
                    
                    
                    img {
                        
                        min-width: 87%;
                        vertical-align: top;
                        
                    }
                }
                // Aquí estába el bug de la imagen
                //*************
            }
        }
    }

    footer {
        margin:60px 50px;
        .redesSociales {
            text-align: center;
        }
    }
}

@media screen and (max-width: 484px) {
    body {
        font-size: 12px;
        header {
            .container {
                .cont {
                    flex-direction: column;
                    
                    .logo {
                        margin-bottom: 20px;
                    }
                    ul {
                        li {
                            a {
                                margin: 10px 15px;
                            }
                        }
                    }
                }
            }
        }
        .main {
            .container {
                
                .cont {
                    height: 500px;
                    .sub-cont {
                        padding-top: 40px;
                        width: 100%;
                        .btns {
                            a {
                                margin: 10px 20px;
                            }
                        }
                    }
                    .kit {
                        height: 400px;
                        img {

                        }
                    }
                }
            }
        }

        footer {
            margin: 20px 50px;
        }
    
    }
 
}

